@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}
body {
 min-height: 100vh;
   flex: 1;
}
.project, .features-section, .flow, .fram {
  margin-left: auto; 
  margin-right: 0;   
  width: 100%;
  box-sizing: border-box;
}
.project-square, 
.inner-container, 
.flow-container, 
.Form {
  max-width: 1000px; 
  margin-left: auto; 
  margin-right: 40px; 
}
#container-all {
  width: 100%;
  align-items: flex-start; 
}
.House {
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
  margin-top: 0;
}
/* --- 2. PC版サイドバー  --- */
.header-inner img{
  margin-left: 20px;
}
.site-header {
width: 250px;
  position: fixed; 
  top: 0;
  left: 0;       
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #eee;
  z-index: 100;
  margin: 0;
  padding-top: 40px;

}
.sp-overlay a {
  display: block;
  padding: 15px 20px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  border-bottom: transparent;
}
.sp-overlay a:hover {
  background-color: #f5f5f5;
  padding-left: 25px;      
}
.sp-menu ul a:hover {
    text-decoration: none;  
    opacity: 0.7;        
}
.sp-menu-icon, .sp-overlay-logo, #close{
  display: none;
}
.content {
padding-left: 250px; 
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu-list a {
  color: black;
  text-decoration: none;
}
.sns-links {
  margin-top: 60px;
  line-height: 1.0;
}
.project, .features-section, .flow, .from p {
  padding: 80px 40px;
  text-align: left !important;
}
/* 建築事例 */
.project, .features-section, .flow {
  padding: 80px 40px;
}
.project {
  background: linear-gradient(to bottom, #888, #333);
}
.project-square {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  max-width: 832px;
  margin: 0 auto;
}
.project img {
  width: 100%;
  height: 250px;
}
.project-title {
  display: flex;        
  align-items: center;  
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
  grid-column: 1 / 3;    
  color: #fff;
  width: 100%;
  max-width: 800px;    
  margin-left: auto;
  margin-right: auto;
}
.project-title::before,
.project-title::after {
  content: "";
  flex: 1;            
  height: 1px;          
  background-color: currentColor;
}
.project-title::before {
  margin-right: 20px;    
}
.project-title::after {
  margin-left: 20px;    
}
/* 明るいHOUSEの特徴 */
.features-section {
  background-color: #333; color: #fff;
 }
.jp-text span{
  font-size: 14px;
 }
.circles-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.circle {
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}
.inner-container {
  max-width: 1000px;      
  padding: 0 20px;
  margin: 0 auto;    
}
.lined-title {
  display: flex;        
  align-items: center;
  text-align: center;
  font-size: 2rem;      
  margin-bottom: 60px;  
  /* justify-content: center; */
}
.lined-title::before,
.lined-title::after {
  content: "";          
  flex: 1;              
  height: 1px;          
   background-color: currentColor;
}
.lined-title::before {
  margin-right: 20px;
}
.lined-title::after {
  margin-left: 20px;
}

.circles-container {
  display: flex;          
  justify-content: center;
  gap: 40px;              
  flex-wrap: nowrap;        
}
.circle-item {
  text-align: center;      
  width: 250px;      
}
.en-text {
  font-weight: bold;
  font-size: 14px;
}
.jp-text {
  margin: 0;
  font-size: 1rem;
}
.shape-container {
    width: 258px;
    margin: 100px auto;
}
.figure {
  display: block;    
  margin: 0 auto;
}
.figure2 {
  display: none;    
}
/* flow */
.flow{
  text-align: center;
  width: 100%;
}
.flow p{
  padding-left: 10px;
}
.flow-container {
    list-style: none;
    padding: 0;
    margin: 40px auto;
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.flow-title {
    display: flex;          
    align-items: center;  
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 40px;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.flow-title::before,
.flow-title::after {
  content: "";          
  flex: 1;              
  height: 1px;          
   background-color: currentColor;
}
.flow-title::before {
  margin-right: 20px;
}
.flow-title::after {
  margin-left: 20px;
}
.flow-container li {
    position: relative;
    z-index: 2;
 }
.flow-container li:last-child {
    margin-bottom: 0;
}
.flow-text {
    flex: 1;
    flex-grow: 1;      
    display: block;    
    display: flex;
    text-align: flex;
    flex-direction: column;
    position: relative;
}
.flow-text h3 {
    margin: 0;
   padding-top: 5px;
   display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    position: relative;
}
.flow-text h3:before {
 content: "";
 position: absolute;
 right: 0;
 bottom: 0;
 width: calc(100% - 40px); 
 height: 1px;
 background-color: rgb(53, 53, 53);
}
.flow-texts-group{
 display: flex;
 flex-direction: column;
 gap: 32px;
}
.step-num {
  display: inline-flex;  
    align-items: center;    
    justify-content: center;
    width: 35px;            
    height: 35px;            
    background-color: #444;  
    color: #fff;        
    border-radius: 50%;    
    font-weight: 300;        
    font-size: 14px;      
    font-family: sans-serif;
    margin-right: 8px;      
    transform: translateY(-1px);
}
.flow-text hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}
.flow-text p {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    margin-left: 40px;
}
/* from */
.from{
  text-align: center;
  width: 100%;
  padding-bottom: 160px;
}
.from-title {
    display: flex;          
    align-items: center;    
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 40px;
    justify-content: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center; 
}
.align-block {
  width: fit-content; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.align-block p {
  margin-top: 10px;
  text-align: left; 
}
.from-title::before,
.from-title::after {
  content: "";          
  flex: 1;              
  height: 1px;          
   background-color: currentColor;
}
.from-title::before {
  margin-right: 20px;
}
.from-title::after {
  margin-left: 20px;
}
.Form{
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 40px;
  margin-inline: auto;
}
.Form img{
  width: 250px;
  height: auto;
}
.site-footer {
    background-color: #333;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;    
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    padding-left: 250px;
}
.site-footer a {
  text-decoration: none;
}
.footer1-nav {
    list-style: none;
    padding: 0;
    margin: 0 auto 20px;
    display: flex;          
    justify-content: center;  
}
.footer1-nav li {
display: flex;
  align-items: center;
}
.footer1-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 0 15px;        
  white-space: nowrap;
}
.footer1-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: -0.5px;
}
.footer1-nav li:not(:last-child)::after {
  content: "|";
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}
.footer1-nav li:nth-child(3)::after,
.footer1-nav li:nth-child(6)::after {
  display: none;
}
.footer-nav{
  display: none;
}
.copyright {
  font-size: 12px;
  opacity: 0.6;
  margin: 20px 0 0;
  padding-bottom: 10px;
  line-height: 1;
  text-align: center;
  width: 100%;
}
.back-to-top {
  position: fixed;    
  right: 20px;        
  bottom: 20px;      
  z-index: 9999;      
  display: block;      
  width: 60px;        
  height: auto;        
  transition: opacity 0.3s, transform 0.3s;
  text-decoration: none;
}
.back-to-top img {
  width: 100%;        
  height: auto;
  display: block;      
}
.back-to-top:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}
@media (max-width: 768px) {
  #container-all {
    display: block;
    width: 100%;
  }
  .site-header {
    width: 100%;
    height: auto;
    position: static;
    padding: 15px 20px;
    border-right: none;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
    #open, #close {
  transition: all 0.3s ease;
  cursor: pointer;
}
#open:hover {
  color: #353236;          
  transform: scale(1.2);    
  opacity: 0.7;            
}
#close:hover {
  transform: none;
  opacity: 0.7;
}
  .House {
width: 100%;
    height: 600px;      
    object-fit: none;  
    object-position: center;
    display: block;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .header-inner img{
    margin-left: 0;
  }
  .lined-title {
    font-size: 1.5rem;
  }
  .lined-title::before,
  .lined-title::after {
    flex: 0.5;        
  }
 .circles-container {
 display: flex;      
  flex-direction: row;  
  justify-content: center;
  gap: 10px;            
  width: 100%;
  box-sizing: border-box;
  }
  .circle-item {
    width: 30%;        
  }
  .circle {
    width: 100%;
    max-width: 100px;    
    aspect-ratio: 1 / 1;
    height: auto !important;
  margin: 0 auto 10px;
  border-radius: 50%;
  }
  .sp-menu-icon {
    display: block !important;
    align-items: center;
    padding-right: 15px;
    font-weight: 900;
    font-size: 24px;
    cursor: pointer
  }
.sp-overlay-logo {
  display: none !important;
}
body.menu-open .sp-overlay {
   right: 0;
   }
  .content {
    padding: 0;
  }
  .project-square {
display: flex;      
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    grid-template-columns: 1fr;
}
.project-square, .Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project img {
width: 100%;        
    max-width: 400px;  
    height: auto;      
  }
  .project,.features-section{
  padding-inline: 0 !important;
 }
.flow-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 30px;              
    max-width: 100%;
    margin: 40px 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

  }
.figure {
    display: none;  
  }
  .figure2 {
    display: block;
    width: 300px;
    height: auto;
  margin: 0 auto;
  }
.flow {
    width: 100%;
    padding: 80px 20px;
    box-sizing: border-box;
  }
  .flow p{
    padding: 0;
    text-align: center;
  }
  .flow-text p {
    margin-left: 40px;
  }
  .flow-title {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;  
    width: 100%;
    justify-content: center;
  }
  .flow-texts-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: auto;
   font-size: 16px;
  }
  .flow-text {
    text-align: center;
    padding: 0 10px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
  }
  .flow-text h3 {
    justify-content: left;
    width: 100%;
  }
  .flow-text h3:before {
  width: calc(100% - 40px);
 }
.from {
    width: 100%;
    padding: 80px 20px;
    box-sizing: border-box;
  }
.Form {
  flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.from p{
  padding: 0;
  text-align: center;
}
.Form img {
 width: 200px;
    height: 200px;
    object-fit: contain;
}
  .lined-title {
    font-size: 1.5rem;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;      
    justify-content: center;
    padding: 10px;
    margin: 0 auto 10px;
  }
  .footer-nav li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;  
  }
  .footer-nav li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #fff;
    margin: 0 10px;      
    opacity: 0.5;
  }
  .footer-nav li:nth-child(3)::after,
  .footer-nav li:last-child::after {
    display: none;
  }
  .footer-nav a {
    font-size: 14px;      
  }
  .pc-menu {
    display: none;
  }
  .sp-overlay {
  display: flex !important;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #fff !important;
    color: #333 !important;
    z-index: 1000;
    transition: right 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    border-right: 45px solid #000;
  }
.sp-overlay a {
  color: #333 !important;
  display: block;
}
.pc-menu ul {
  list-style: none;
  padding: 0;      
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}
.pc-menu li {
  margin-bottom: 10px;
}
.pc-menu a {
  text-decoration: none;
  color: #333;          
  font-size: 14px;  
  display: block;
    padding: 5px 0;  
}
  .sns-links {
  margin-top: 20px;
  font-size: 0.9rem;
  gap: 10px;
}
    .sp-menu-icon {
    display: block !important;
    cursor: pointer;
  }
.sp-overlay .menu-list li a {
  color: #333 !important;
  font-size: 16px;
  font-weight: bold;
  opacity: 1 !important;
  display: block;
  padding: 10px 0;
}
  body.menu-open .sp-overlay {
    right: 0;
  }
  body.menu-open #container-all {
  transform: none;
  }
.site-footer {
        margin-bottom: 0;
        padding-bottom: 15px;
        height: auto;
        padding-left: 0;
    }
  .footer1-nav{
    display: none;
    width: 309px;
    flex-wrap: wrap;
  }
  .footer-nav{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0 10px;
    margin: 0 auto 10px;
  }
  .footer-nav a{
    color: #fff;
    text-decoration: none;
  }
.copyright {
        text-align: center;
        margin-top: 15px;
        padding-bottom: 0;
    }
  #close {
    text-align: right;
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
    color: #fff;
    position: absolute;
    right: -35px;
  }
  .project-square, .Form {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    overflow-x: hidden;
  }
}